**/*.tp4-cache
1
.DS_Store
.idea
.sonar
.tp4-cache
.vagrant
.vscode
/cypress.json
/PackageBuilder.php
/.ebextensions/04-rsyslog-templates.config
/bash.exe.stackdump
/bower_components
/Config.json
/Core/Data/*
/Core/Data/Cache
/Core/Data/Cache
/Config
/Core/Data/ErrorLog
/dist
/Config
/manifest.json
/Offline.html
/offline.html
/Offline.js
/offline.js
/node_modules
/revision.json
/Templates/BachelorsPortal/
/Templates/BachelorsResponsive/Analytics/
/Templates/BachelorsResponsive/Hotjar/
/Templates/BachelorsResponsive/Facebook/
/Templates/BachelorsResponsive/IcoMoon/
/Templates/BachelorsResponsive/Includes/
/Templates/DistanceLearningPortal/
/Templates/DistanceLearningResponsive/Analytics/
/Templates/DistanceLearningResponsive/Hotjar/
/Templates/DistanceLearningResponsive/Facebook/
/Templates/DistanceLearningResponsive/IcoMoon/
/Templates/DistanceLearningResponsive/Includes/
/Templates/MastersPortal/
/Templates/MastersResponsive/Analytics/
/Templates/MastersResponsive/Hotjar/
/Templates/MastersResponsive/Facebook/
/Templates/MastersResponsive/IcoMoon/
/Templates/MastersResponsive/Includes/
/Templates/MastersResponsive/Mixpanel/
/Templates/MastersResponsive/Dotmailer/
/Templates/PhDPortal/
/Templates/PhDResponsive/Analytics/
/Templates/PhDResponsive/Hotjar/
/Templates/PhDResponsive/Facebook/
/Templates/PhDResponsive/IcoMoon/
/Templates/PhDResponsive/Includes/
/Templates/PreparationCourses/Analytics/
/Templates/PreparationCourses/HotJar/
/Templates/PreparationCourses/Facebook/
/Templates/PreparationCourses/IcoMoon/
/Templates/PreparationCourses/Includes/
/Templates/ShortCoursesPortal/
/Templates/ShortCoursesResponsive/Analytics/
/Templates/ShortCoursesResponsive/Hotjar/
/Templates/ShortCoursesResponsive/Facebook/
/Templates/ShortCoursesResponsive/IcoMoon/
/Templates/ShortCoursesResponsive/Includes/
/TestSuites/SeleniumWebdriver/antFiles/initiateAntBuild.bat
/TestSuites/SeleniumWebdriver/LLODtestChrome/.classpath
/TestSuites/SeleniumWebdriver/LLODtestChrome/.project
/Templates/DistanceLearningResponsive/Mixpanel/


.tp4-cache
.vscode
.DS_Store

/tmp
/vendor


.idea
*.css
*.css.map

*.tp4-cache
